{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}main.css" /> 
</head>
<body>
	<div id="menu"></div>
    {% block content %}{% endblock %}
    {% block javascript-includes %}{% endblock %}
    {% block inline-javascript %}{% endblock %}
</body>
{% if ongoing %}
{% load socketio_tags %}
{% socketio %}
<script type="text/javascript" src="{% get_static_prefix %}socket.js"></script>
{% endif %}
</html>
