{% load static %}
{% load base_extras %}
{% load compress %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% get_static_prefix %}css/main.scss" />
    {% endcompress %}
    {% block head-includes %}{% endblock %}
</head>
<body>
	<div id="menu">
		<div id="menuLogo"><object data="{% get_static_prefix %}images/mini_m.svg" type="image/svg+xml"></object></div>
		<div id="menuList">
			<ul class="horizontal">
				<li><a class="{% navactive request 'canvas' %}" href="{% url 'canvas' %}">Live Mosaic</a></li>
				<li><a class="{% navactive request 'playground' %}" href="{% url 'playground' %}">Playground</a></li>
				<li><a class="{% navactive request 'statistics' %}" href="{% url 'statistics' %}">Statistics</a></li>
			</ul>
		</div>
		<div id="menuSocial">
			<ul class="horizontal">
				<li><div class="facebook"></div></li>
				<li><div class="googleplus"></div></li>
				<li><div class="twitter"></div></li>
			</ul>
		</div>
		{% if 'playground' in request.path  %}
		<div id="menuArrow">
			<div id="openButton">
				<div class="actualButton"></div>
				<object data="{% get_static_prefix %}images/Playground_Arrow_down.svg" type="image/svg+xml"></object>
			</div>
		</div>
		{% endif %}
	</div>
    {% block content %}{% endblock %}
    {% block javascript-includes %}{% endblock %}
    {% block inline-javascript %}{% endblock %}
</body>
{% if ongoing %}
{% load socketio_tags %}
{% socketio %}
<script type="text/javascript" src="{% get_static_prefix %}socket.js"></script>
{% endif %}
</html>
