{% extends "base.html" %}

{% load static %}

{% block title %}Ongoing canvas{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
{% endblock %}

{% block content %}
<div id="container">
<!-- canvas id="ongoing-canvas" width="800px" height="600px"></canvas-->
</div>

{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
	var paper = Raphael(10, 50, 800,600);

{% for stroke in strokes %}
	paper.importSVG('{{ stroke|safe }}');
{% endfor %}
</script>
{% endblock %}
