{% extends "base.html" %}

{% load static %}
{% load canvas_tags %}

{% block title %}Ongoing canvas{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
{% endblock %}

{% block content %}
<div id="canvas">
</div>
{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
	var paper = Raphael("canvas", {{ width }}, {{ height }});
	var shapes = {};
{% for fd_id,shape in shapes.items %}
	window.shapes["{{ fd_id }}"] = {{ shape|to_raphael:"paper"|safe }};
{% endfor %}
</script>
{% endblock %}
