{% extends "base.html" %}

{% load static %}

{% block title %}Ongoing canvas - Feeling {{ feeling.id }}{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-svg-import/raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}raphael-svg-import/raphael-shapes.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}raphael-svg-import/raphael-svg-import.js"></script>
{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
	var paper = Raphael(10, 10, 100,100);

	paper.importSVG('{{ stroke|safe }}');
</script>
{% endblock %}

{% block content %}
<div id="image-div"></div>
<h2>Feeling number {{ feeling.id }}	</h2>
<table>
	<tbody>
		<tr>
			<td><b>Feeling:</b></td><td style="color: {{ feeling.feeling.color }};">{{ feeling.feeling.name }}</td>
		</tr>
		<tr>
			<td><b>Sentence:</b></td><td>{{ feeling.sentence }}</td>
		</tr>
		<tr>
			<td><b>Time:</b></td><td>{{ feeling.postdatetime }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}
