{% extends "base.html" %}

{% load static %}
{% load canvas_tags %}

{% block title %}Ongoing canvas{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.hotkeys.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}loadtree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}menu.js"></script>
{% endblock %}

{% block content %}
<div id="menu">
	<ul>
		<li>
		<b><a class="submenuToggle" id="feelingChoose_Toggle">Feelings</a></b>
		</li>
		<li>
		<a class="submenuToggle" id="dateChoose_Toggle"><b>Date</b> {{ chosen_date }}</a>
		</li>
	</ul>
</div>
<div id="submenus">
	<form action="">
		{% csrf_token %}
		<div class="submenu" id="feelingChoose">
			<input type="text" id="treeSearch" value"Search for feelings" /> <button id="searchButton">Search</button>
			<div id="feelingtree"></div>
			<input type="submit" value="Filter feelings" /><br />
		</div>
		<div class="submenu" id="dateChoose">
			{{ form }}
			<input type="submit" value="Filter feelings" /><br />
		</div>
	</form>
</div>

{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
	var treedata = {{ feelingtree|safe }};
	var checked_nodes = {{ checked_nodes|safe }};
	var tree = loadTree(treedata, checked_nodes);

	var paper = Raphael(10, 70, {{ width }}, {{ height }});
{% for shape in shapes %}
	{{ shape|to_raphael:"paper"|safe }}.click(function(event) { 
		var new_size = this.getBBox().width + 200;
		this.attr({ width: new_size } );
		alert({{ shape.fd.id }});
	} );
{% endfor %}

	var timer;

	$("#treeSearch").keyup(function() {
		console.log("Clearing timeout...");
		clearTimeout(timer); // Clear the timer so we don't end up with dupes.
		var text = $(this).val();
		timer = setTimeout(function() {
			console.log("Executing...");
			$("#feelingtree").jstree("search", text);
		}, 500);
		console.log("New timeout set.");
	});
</script>
{% endblock %}
