{% extends "base.html" %}

{% load static %}
{% load base_extras %}
{% load canvas_tags %}
{% load compress %}

{% block title %}Ongoing canvas{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.hotkeys.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.textfill.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.bpopup.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.ui.autocomplete.html.js"></script>
{% compress js %}
<!-- done importing libraries, import app specific stuff -->
<script type="text/javascript" src="{% get_static_prefix %}init.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}loadtree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}filterbox.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}interaction.js"></script>
{% endcompress %}
{% endblock %}

{% block head-includes %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/vader/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}

{% block content %}
<div id="filterbox">
	<div class="filterboxContent">
		<div class="filterboxHeader">Show me:</div>
		<div class="filterboxSection left">
			<input type="text" id="specific_feeling" placeholder="by Specific Mood" name="specific_feeling" form="filterboxForm" {% if specific_feeling %}value="{{ specific_feeling }}"{% endif %}/>
			<input type="text" id="id_date" placeholder="by Date" name="date" form="filterboxForm" {% if chosen_date %}value="{{ chosen_date|date:"m/d/Y" }}"{% endif %}/>
		</div>
		<div class="filterboxSection">
			<table>
				<tr>
					<td class="catName">Confidence</td>
				</tr>
				<tr>
					<td class="catName">Euphoria</td>
				</tr>
				<tr>
					<td class="catName">Safety</td>
				</tr>
				<tr>
					<td class="catName">Virtue</td>
				</tr>
			</table>
		</div>
		<div class="filterboxSection">
			<table>
				<tr>
					<td class="catName">Anger</td>
				</tr>
				<tr>
					<td class="catName">Disgust</td>
				</tr>
				<tr>
					<td class="catName">Stress</td>
				</tr>
				<tr>
					<td class="catName">Sorrow</td>
				</tr>
			</table>
		</div>
		<div class="filterboxSection right">
			<table>
				<tr>
					<td class="rowName">No color</td>
					<td><span class="subCategorySquare" id="blackwhite" style="background-image: url({% get_static_prefix %}images/blackwhite.png)"></span></td>
				</tr>
				<tr>
					<td class="rowName">Volume</td>
					<td><span class="subCategorySquare" id="intensity0">4</span></td>
					<td><span class="subCategorySquare" id="intensity1">3</span></td>
					<td><span class="subCategorySquare" id="intensity2">2</span></td>
					<td><span class="subCategorySquare" id="intensity3">1</span></td>
				</tr>
			</table>
			<a href="{% url 'playground' %}"><button>Clear Filters</button></a>
		</div>
		<div class="filterboxFooter">
			<div id="closeButton">
				<div class="actualButton"></div>
				<object data="{% get_static_prefix %}images/Playground_Arrow_up.svg" type="image/svg+xml"></object>
			</div>
		</div>
	</div>
</div>
<span id="specific_feelingWrapper"></span>
<div id="submenus">
	<div class="submenu" id="feelingChoose">
		<input type="text" id="treeSearch" /> <button id="searchButton">Search</button>
		<div id="feelingtree"></div>
		<button>Display</button><br />
	</div>
	<form id="filterboxForm" action="">
		{% csrf_token %}
		<div class="submenu" id="dateChoose">
			{{ form.intensity0 }}
			{{ form.intensity1 }}
			{{ form.intensity2 }}
			{{ form.intensity3 }}
			{{ form.blackwhite }}
			<input type="submit" value="Display" /><br />
		</div>
	</form>
</div>
<div id="canvas">
</div>

<div id="popup">
	<div class="content"></div>
</div>

{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
$(function() {
	var treedata = {{ feelingtree|safe }}
	var search_list = {{ search_list|safe }};
	var checked_nodes = {{ checked_nodes|safe }};
	var special = {{ special|safe }};
	var specific_feeling = {{ specific_feeling|format:"\"%s\""|default:"null"|safe }};
	var chosen_date = {{ chosen_date|format:"\"%s\""|default:"null"|safe }};
	$.jstree._themes="/static/themes/";
	var tree = loadTree(treedata, checked_nodes);

	var paper = Raphael("canvas", {{ width }}, {{ height }});
{% for shape in shapes %}
	APP.shapes["{{ shape.fd.id }}"] = {{ shape|to_raphael:"paper"|safe }};
	add_interaction(APP.shapes["{{ shape.fd.id }}"], {{ shape.fd.id }}, "{{ shape.colour }}");
{% endfor %}

	buildFilterBox(treedata, checked_nodes, special, specific_feeling, chosen_date);

	$("#filterbox #specific_feeling").autocomplete({
		source: search_list,
		appendTo: "#specific_feelingWrapper",
		change: function() {
			APP.filtersChanged = true;
		},
		minLength: 3,
		html: true
	}).focus(function(event) {
		$(this).val("");
	});

	APP.filtersChanged = false;

	var timer;

	$("#treeSearch").keyup(function() {
		clearTimeout(timer); // Clear the timer so we don't end up with dupes.
		var text = $(this).val();
		timer = setTimeout(function() {
			$("#feelingtree").jstree("search", text);
		}, 500);
	});
});
</script>
{% endblock %}
