{% extends "base.html" %}

{% load static %}
{% load canvas_tags %}

{% block title %}Ongoing canvas{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.hotkeys.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}jquery.bpopup-0.7.0.min.js"></script>
<!-- done importing libraries, import app specific stuff -->
<script type="text/javascript" src="{% get_static_prefix %}init.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}loadtree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}menu.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}interaction.js"></script>
{% endblock %}

{% block content %}
<div id="menu">
	<ul>
		<li>
		<b><a class="submenuToggle" id="feelingChoose_Toggle">Feelings</a></b>
		</li>
		<li>
		<a class="submenuToggle" id="dateChoose_Toggle"><b>Date</b> {{ chosen_date }}</a>
		</li>
	</ul>
</div>
<div id="submenus">
	<div class="submenu" id="feelingChoose">
		<input type="text" id="treeSearch" value"Search for feelings" /> <button id="searchButton">Search</button>
		<div id="feelingtree"></div>
		<button>Display</button><br />
	</div>
	<form id="menuForm" action="">
		{% csrf_token %}
		<div class="submenu" id="dateChoose">
			{{ form }}
			<input type="submit" value="Display" /><br />
		</div>
	</form>
</div>
<div id="canvas">
</div>

<div id="popup">
	<div class="content"></div>
</div>

{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
$(function() {
	var treedata = {{ feelingtree|safe }};
	var checked_nodes = {{ checked_nodes|safe }};
	$.jstree._themes="/static/themes/";
	var tree = loadTree(treedata, checked_nodes);

	var paper = Raphael("canvas", {{ width }}, {{ height }});
{% for shape in shapes %}
	APP.shapes["{{ shape.fd.id }}"] = {{ shape|to_raphael:"paper"|safe }};
	add_interaction(APP.shapes["{{ shape.fd.id }}"], {{ shape.fd.id }});
{% endfor %}

	var timer;

	$("#treeSearch").keyup(function() {
		clearTimeout(timer); // Clear the timer so we don't end up with dupes.
		var text = $(this).val();
		timer = setTimeout(function() {
			$("#feelingtree").jstree("search", text);
		}, 500);
	});
});
</script>
{% endblock %}
