{% extends "base.html" %}

{% load static %}

{% block title %}Statistics{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.pie-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.dot-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.bar-min.js"></script>
{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">
var paper = new Raphael("feelingsBarChart", 920, 400);

var fin = function () {
    if (!this.hasOwnProperty("flag")) {
        this.flag = paper.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
    }
    this.flag.attr("opacity", 1);
};
var fout = function () {
    this.flag.animate({opacity: 0}, 300);
};

paper.barchart(10, 10, 900, 300, {{ feelingCounts|safe }}, { colors: {{ feelingColours|safe }} }).hover(fin, fout);

</script>
{% endblock %}

{% block content %}
<div id="statistics">
	<div>
		<h2>Number of collected feelings: {{ feelingDataSize }}</h2>
	</div>
	<hr />
		<h2>Top 10 feelings</h2>
	<div class="barchart">
		<div id="feelingsBarChart">
		</div>
	</div>
</div>
{% endblock %}
