{% extends "base.html" %}

{% load static %}
{% load base_extras %}

{% block title %}Statistics{% endblock %}

{% block javascript-includes %}
<script type="text/javascript" src="{% get_static_prefix %}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.raphael-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.pie-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.dot-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}graphael/g.bar-min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}charts.js"></script>
{% endblock %}

{% block inline-javascript %}
<script type="text/javascript">

$.getJSON("/statistics/moods/top", function(data) {
	var paper = new Raphael("topMoods", 920, 400);

	addHorizontalBarChart(paper, data.feelingCounts, data.feelingColours, data.feelingLegend, "Top Moods");
});

$.getJSON("/statistics/moods/bottom", function(data) {
	var paper = new Raphael("bottomMoods", 920, 400);

	addHorizontalBarChart(paper, data.feelingCounts, data.feelingColours, data.feelingLegend, "Bottom Moods");
});

$.getJSON("/statistics/categories", function(data) {
	var paper = new Raphael("categories", 920, 400);

	var colours = [];
	for (var i = 0; i < data.categoryCounts.length; i++) {
		colours.push("#000");
	}

	addHorizontalBarChart(paper, data.categoryCounts, colours, data.categoryLegend, "Category breakdown");
});

</script>
{% endblock %}

{% block content %}
<div id="statistics">
	<div>
		<h2>Moods collected</h2>
		<h1>{{ feelingDataSize }}</h1>
	</div>
	<hr />
	<div class="barchart">
		<div id="topMoods" />
		<div id="bottomMoods" />
		<div id="categories" />
	</div>
</div>
{% endblock %}
