body {
	background-color: #5a5a5a;
	margin: 0px auto;
	width: 960px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#canvas {
	margin: 0 auto;
	width: 960px;
}

#menu {
	height: 80px;
	background-color: #221E1F;
	color: #808080;
	margin: 0 auto;
	width: 960px;
	position: relative;
}

#menuLogo {
	position: absolute;
	left: 40px;
	top: 21px;
	
}

#menuArrow {
	position: absolute;
	left: 490px;
	top: 60px;
}

#menuList {
	margin: 0 auto;
	width: 960px;
	text-align: center; 
	font-size: 21px;
	font-weight: bold;
	line-height: 80px;
}

#menuList > ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

#menuList > ul > li {
	display: inline;
	margin: 0 10px; 
	min-height: 80px;
}

#menuList > ul > li > a:link, a:visited {
	color: #808080;
	text-decoration: none;
}

#menuList > ul > li > a:hover {
	color: #FFF;
}

#menuList > ul > li > a.active {
	color: #FFF;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.65);
}

#filterbox {
	background-color: #221E1F;
	color: #808080;
	z-index: 10;
	margin: 0 auto;
	width: 960px;
	height: 200px;
	overflow: hidden;
	font-weight: bold;
}

#filterbox div.filterboxHeader {
	display: block;
	width: 100%;
	height: 15px;
	padding: 5px 0 15px 0;
	margin: 0;
	text-align: center;
	color: #FFF;
}

#filterbox div.filterboxFooter {
	display: block;
	width: 100%;
	height: 15px;
	padding: 5px;
	margin: 0;
	text-align: center;
}

#filterbox > div.filterboxContent {
	margin: 20px 80px;
	width: 800px;
	height: 160px;
}

#filterbox div.filterboxSection {
	padding: 4px 0;
	display: inline-block;
	width: 165px;
	vertical-align: middle;
	margin: 0 20px;
}

#filterbox div.left {
	border-right: #474444 2px solid;
	margin: 0;
	padding-right: 20px;
}

#filterbox div.right {
	border-left: #474444 2px solid;
	margin: 0;
	padding-left: 20px;
}

#filterbox div > button {
	border-radius: 4px;
	width: 100%;
	height: 36px;
	display: block;
	border: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #808080;
	font-weight: bold;
}

#filterbox div > button:first-of-type {
	margin-bottom: 8px;
}

#filterbox div > table {
	color: #808080;
	width: 170px;
	font-weight: bold;
	table-layout: fixed;
}

#filterbox div > table tr > td.catName {
	padding: 0;
	width: 90px;
	cursor: pointer;
}

.subCategorySquare {
	width: 10px;
	height: 10px;
	border: 2px #808080 solid;
	border-radius: 5px;
	margin: 1px;
	display: inline-block;
	vertical-align: bottom;
}

#filterbox .subCategorySquare {
	cursor: pointer;
}

div#submenus {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.submenu {
	padding: 5px 5px 20px 5px;
	width: 250px !important;
	background-color: rgba(239, 239, 239, 0.8);
	position: absolute;
}

#feelingChoose {
	display: none;
}

#dateChoose {
	display: none;
}

#popup { 
	color: #FFF;
	display: none;
	padding: 0px;
	width: 960px;
	height: 760px;
} 

#popup div.content {
	margin: 0 40px;
}

#popup div#header {
	margin: 20px 0;
	border-bottom: 2px solid #FFF;
	font-size: 48px;
}

#popup div#feelingName {
	display: inline-block;
}

#popup div#feelingDate {
	float: right;
}

#popup div#feelingData {
	margin: 0 12px;
	width: 856px;
	height: 480px;
}

#popup div#feelingData a:link, a:visited {
    text-decoration: none;
    color: #FFF;
}

#popup div#feelingData a:hover {
    text-decoration: underline;
}

#popup div#closeButton {
	width: 40px;
	height: 40px;
	margin: 40px auto;
    position: relative;
    z-index: 0;
}

#popup div#closeButton div#actualButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
}
